{
	"plugins": ["@ianvs/prettier-plugin-sort-imports"],
	"trailingComma": "all",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"arrowParens": "avoid",
	"importOrder": [
		"^node:",
		"<THIRD_PARTY_MODULES>",
		"",
		"^@/(.*)$",
		"",
		"^[./]"
	],
	"importOrderTypeScriptVersion": "6.0.0",
	"importOrderParserPlugins": ["typescript", "decorators-legacy"],
	"importOrderCaseSensitive": false,
	"endOfLine": "auto"
}
